/*============================================================================================*/
.centrer{
    display: block;
    margin: 0 auto;
    float: left;
}
#lesson{
    display: none;
}
/*============================================================================================*/
